.background {
  /* Set height relative to width */
  height: 100vh;
  min-height: 500px;

  /* Position the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* Center child content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* bottom border */
  border-bottom: 3px solid #dde1e7;

  // place the text on the background image
  .divText {
    max-width: 90%;
    position: absolute;
    top: 34%;
  }
}

.nxt_carousel-header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .nxt_carousel-animated-text-container {
    width: 360px;
    height: 6vw;
  }

  .nxt_carousel-animated-text-container * {
    position: absolute;
  }
}

.nxt_carousel-text {
  position: absolute;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.nxt_carousel-img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/***************************************/
/*            Media Queries            */
/***************************************/

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .nxt_carousel-header-container {
    .nxt_carousel-animated-text-container {
      width: 280px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .nxt_carousel-header-container {
    .nxt_carousel-animated-text-container * {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
