.disc-container {
  margin-top: 10%;
}

/**************************************/
/*            Media Queries            */
/***************************************/

/******************* iPhone 6, 7, & 8 in portrait & landscape ********************/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .disc-container {
    margin-top: 34%;
  }
}

/******************* iPad in portrait & landscape ********************/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .disc-container {
    margin-top: 20%;
  }
}
