#easel-container {
  // position: relative;
  height: 360px; //relook into this for mobile sizes

  #easel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .easel-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    right: 0;
    top: calc(60px + 2vw + 0.5vmin);
    width: 60px;
  }
}

// /***************************************/
// /*            Media Queries            */
// /***************************************/

/******************* iPhone 6, 7, & 8 in portrait & landscape ********************/

@media only screen and (min-width: 375px) and (max-width: 667px) {
  #easel-container {
    height: 500px;
    #easel {
      top: 140px;
    }
    .easel-icon {
      top: calc(300px + 6vw + 0.5vmin);
      width: 40px;
    }
  }
}
