#easel-container {
  position: relative;
  height: 360px; //relook into this for mobile sizes

  #easel {
    position: absolute;
    left: 140px;
  }

  .easel-icon {
    position: absolute;
    top: 90px;
    left: 200px;
    width: 80px;
  }
}

// /***************************************/
// /*            Media Queries            */
// /***************************************/

/******************* iPhone 6, 7, & 8 in portrait & landscape ********************/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #easel-container {
    height: 460px;

    #easel {
      position: absolute;
      left: 20%;
      top: 24%;
    }

    .easel-icon {
      position: absolute;
      top: 62%;
      left: 48%;
      width: 60px;
    }
  }
}

// /******************* iPad in portrait ********************/

// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
//   .odp-para {
//     left: 20%;
//     top: 16%;
//     width: 70%;
//   }
// }
