@import '../../scss/main.scss';

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -ms-box-shadow: $val;
  box-shadow: $val;
}

label {
  margin-bottom: 0;
}

.alert {
  font-family: $circular;
  font-size: calc(18px);
  text-align: center;
  padding: 10px;
  background: theme-color('accent');
  display: none;
}

.form-control:focus {
  border-color: theme-color('primary');
  @include box-shadow(none);
}
