@import '../../scss/main.scss';

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -ms-box-shadow: $val;
  box-shadow: $val;
}

label {
  margin-bottom: 0;
}

.alert-success {
  font-family: $circular;
  font-size: calc(18px);
  text-align: center;
  padding: 10px;
  background-color: theme-color('secondary-dark');
  border-left: 12px solid theme-color('primary');
  display: none;
  color: theme-color('primary-dark');
}

.alert-fail {
  font-family: $circular;
  font-size: calc(18px);
  text-align: center;
  padding: 10px;
  background-color: theme-color('secondary-dark');
  border-left: 12px solid #f44336;
  display: none;
}

.form-control:focus {
  border-color: theme-color('primary');
  @include box-shadow(none);
}

input:invalid {
  border-color: none;
}

.input-fail {
  text-align: center;
  display: block;
}

.form-input-fail {
  border: 1px solid #f44336;
}
