@import '../../scss/main.scss';

label {
  margin-bottom: 0;
}

.alert {
  font-family: $circular;
  font-size: calc(18px);
  text-align: center;
  padding: 10px;
  background: theme-color('accent');
  display: none;
}

.form-control:focus {
  border-color: theme-color('primary');
  box-shadow: none;
}
