.navbar {
  padding: 1rem !important;
  // box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
  // text-transform: uppercase;
  // height: 110px;

  // use rgba values for clean animation
  border-bottom: 1px solid rgba(200, 200, 200, 0);
  background-color: rgba(255, 255, 255, 0);

  a {
    // text-transform: uppercase;
    font-weight: 400;
    color: gray('800');
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-bottom: 2px;
    &:hover {
      color: theme-color('primary');
    }
  }
  a.active {
    // color: theme-color('primary');
    border-bottom: 2px solid theme-color('primary');
  }

  .show a {
    // border-top: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(200, 200, 200, 1);
    border-right: 1px solid rgba(200, 200, 200, 1);
    border-bottom: 1px solid rgba(200, 200, 200, 1);
  }
  .show a.active {
    color: theme-color('primary');
  }

  .navbar-brand img {
    width: 100px;
  }
}

.overlay {
  // display: block;
  // height: 100vh;
  // transition: all 0.4s linear;
  // background: gray;

  padding-top: 100px;

  a {
    font-weight: 400;
    background: white;
    color: gray('800');
    font-size: 28px;
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    &:hover {
      color: theme-color('primary');
    }
  }
  a.active {
    color: theme-color('primary');
  }
}

// /************ dropdown ****************/
// nav {
//   margin-bottom: 100px;
// }

.nav,
.nav a,
.nav ul,
.nav li {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.nav {
  display: flex;
  position: relative;
  cursor: default;
  width: 100%;
}

.nav > li {
  position: relative;
  padding: 10px 0;
  z-index: 999;
  // background-color: #ffffff;
}

.nav > li:hover {
  cursor: pointer;
}

.nav li {
  list-style: none;
  position: relative;
}

.nav > li:last-child {
  flex: 1;
}

.nav > li > a {
  display: block;
  z-index: 510;
  height: 54px;
  width: 180px;
  padding: 0 10px;
  line-height: 54px;
  text-align: left;
}

.nav .subnav-block li a {
  display: block;
  line-height: 24px;
  font-size: 14px;
  color: theme-color('light');
  margin-left: 10px;
  margin-bottom: 10px;
}

.nav .subnav-block li a:hover {
  color: theme-color('accent');
}

.subnav-block {
  position: absolute;
  top: 80px;
  width: 100% !important;
  padding: 20px 0 !important;
  visibility: hidden;
  opacity: 1;
  height: 0;
  background: theme-color('primary-dark');
}
