// styles
.background {
  /* Set height relative to width */
  height: 100vh;
  min-height: 500px;
  width: 100%;

  /* Position the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: table;

  /* bottom border */
  border-bottom: 3px solid #dde1e7;
}

// place hero image on the background
.hero-image {
  width: 20vw;
  min-width: 175px;
  position: absolute;
  bottom: 0;
  left: 10%;
}

// place the text on the background image
.divText {
  display: table-cell;
  vertical-align: middle;
}
