/*

Theming bootstrap
https://getbootstrap.com/docs/4.0/getting-started/theming/

*/

// To modify an existing color in our $theme-colors map, or
// to add a new color to $theme-colors, add the new key and value:
$theme-colors: (
  'primary': #00a677,
  'primary-dark': #3c444c,
  'secondary-dark': #dde1e7,
  'accent': #f2d292,
  'light': #f2f4f7,
);

$enable-responsive-font-sizes: true;

// extend spacer variable for custom spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: (
      calc(4px + 8vw + 8vh),
    ),
  ),
  $spacers
);

// then import Bootstrap
@import 'bootstrap';

// import typography
@import 'typography.scss';

// import image resposiveness
@import 'responsive.scss';

// then component styles
@import '../components/NavBar/styles.scss';

body {
  margin-top: -50px;
  color: theme-color('primary-dark');
  overflow: hidden;
}
