/*

Theming bootstrap
https://getbootstrap.com/docs/4.0/getting-started/theming/

*/

// To modify an existing color in our $theme-colors map, or
// to add a new color to $theme-colors, add the new key and value:
$theme-colors: (
  'primary': #00a677,
  'accent': #f2d292,
  'light': #f2f4f7,
);
$enable-responsive-font-sizes: true;

// extend spacer variable for custom spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: (
      $spacer * 14,
    ),
  ),
  $spacers
);

// custom NEXT classes
.nxt_bg-gray {
  background-color: #f2f4f7;
}

// then import Bootstrap
@import 'bootstrap';

// then component styles
@import '../components/NavBar/styles.scss';

// smooth scroll for on page ancor tags
html {
  scroll-behavior: smooth;
}

// custom font styles
.slab {
  font-family: 'Zilla Slab', serif;
  font-size: calc(40px + 2vw + 0.5vmin);
}

.heading-small {
  font-family: 'Zilla Slab', serif;
  font-size: calc(36px); // how does calc() function?
}

.circular {
  font-family: CircularStd;
  font-size: calc(18px + 0.5vw);
}
