/***************************************/
/*            Typography               */
/***************************************/

// Main font variables
$zilla-slab: 'Zilla Slab', serif;
$circular: 'CircularStd', sans-serif;

.circular {
  font-family: $circular;
}

body {
  font-family: $circular;
  font-size: calc(12px + 0.5vw);
  line-height: calc(20px + 1vw);
}

// Next custom header
.nxt_heading-xlarge {
  font-family: $zilla-slab;
  font-size: calc(32px + 1.5vw + 0.5vmin);
  font-weight: 600;
  line-height: calc(36px + 2.5vw);
}

.nxt_heading-large {
  font-family: $zilla-slab;
  font-size: calc(28px + 1.5vw + 0.5vmin);
  font-weight: 600;
  line-height: calc(30px + 2.5vw);
}

.nxt_heading-medium {
  font-family: $zilla-slab;
  font-size: 48px;
  font-weight: 600;
}

.nxt_heading-small {
  font-family: $zilla-slab;
  font-size: 24px;
  // font-size: calc(26px + 0.5vw + 0.5vmin);
  font-weight: 600;
}

.nxt_subheading {
  font-family: $zilla-slab;
  font-size: calc(26px);
  font-weight: 600;
}

// Next custom body

.nxt_body {
  font-family: $circular;
  font-size: calc(24px);
}

.nxt_body-small {
  font-family: $circular;
  font-size: calc(18px);
}

.nxt_body-xsmall {
  font-family: $circular;
  font-size: calc(12px);
}

.nxt_footer {
  font-family: $circular;
  font-size: 10px;
  color: #9a9c9f;
  line-height: 20px;
}

/***************************************/
/*            Media Queries            */
/***************************************/

@media screen and (min-width: 1200px) {
  // setting max font size based on Amasa Design System
  body {
    font-size: 18px;
    line-height: 1.6em;
  }

  .nxt_heading-xlarge {
    font-size: 60px;
    line-height: 86px;
  }

  .nxt_heading-large {
    font-size: 48px;
    line-height: 1.2em;
  }
}
